{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-md-12">
  <ol class="breadcrumb">
    <li><a href="/">主页</a></li>
    <li>
      <a href="/article/list/{{ article.block_id }}">{{ article.block.name }}</a>
    </li>
    <li class="active">{{ article.title }}</li>
  </ol>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>作者:{{ article.owner }}</td>
	    <td>标题: {{ article.title }} <br />
	        内容: <br /> {{ article.content }}
	    </td>
      </tr>
      {% for comment in comments %}
      <tr>
        <td>作者:{{ comment.owner }}</td>
        <td>评论内容:<br />{{ comment.content | linebreaksbr}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "page_divide.html" %}
  <table class="table mainTable">
    <tbody>
      <tr>
        <td class="author" width=10%>
          <br />
          <center><span id="commentLabel">回复</span><center>
        </td>
        <td class="content">
          <textarea id="commentContent" class="form-control" rows="3" placeholder="评论内容" name="content"></textarea>
          <br />
          <button class="btn btn-primary" id="commentBtn">发表评论</button>
          <br />
          <br />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.csrf.js"></script>
<script type="text/javascript">
$(document).ready(function (){
  var article_id = {{ article.id }};
  var page_cnt = {{ pagination_data.page_cnt }};

  $("#commentBtn").click(function() {
    var comment = $("#commentContent").val();
    var param = {"article_id": article_id, "content": comment};
    $.post("/comment/create/", param, function(data){
      var ret = JSON.parse(data);
      if (ret["status"] == "ok"){
          $("#commentContent").val("");
          window.location.href = "/article/detail/{{ article.id }}";
      } else {
          alert(ret["msg"]);
      }
    });
  })
})
</script>
{% endblock %}
